.slideshowContainer {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Thay đổi từ 90vh thành 100% */
  object-fit: cover; /* Đảm bảo ảnh lấp đầy container mà không bị méo */
  opacity: 0;
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  z-index: 1;
}

.active {
  opacity: 1;
  transform: scale(1);
  filter: brightness(1.1);
}