.login,
.login * {
  box-sizing: border-box;
}
.login {
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.welcomeBack {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-SemiBold", sans-serif;
  font-size: 96px;
  font-weight: 600;
  position: absolute;
  left: 60px;
  top: 381px;
}
.frame1 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 4px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 82px;
  top: 512px;
}
.vuiTangChuyenBay {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-DisplaySemiBoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  position: relative;
}
.ellipse1 {
  width: 302px;
  height: 302px;
  position: absolute;
  left: 749px;
  top: 81px;
  overflow: visible;
}
.ellipse2 {
  background: linear-gradient(
    180deg,
    rgba(48, 0, 97, 1) 0%,
    rgba(10, 16, 48, 1) 100%
  );
  border-radius: 50%;
  width: 220px;
  height: 220px;
  position: absolute;
  left: 1169.84px;
  top: 824.82px;
  transform-origin: 0 0;
  transform: rotate(-28.5deg) scale(1, 1);
}
.frame2 {
  background: var(
    --glass1-fill-carey,
    linear-gradient(
      -38.77deg,
      rgba(191, 191, 191, 0.06) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(to left, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14))
  );
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-image: var(
    --glass1-stroke-carey,
    linear-gradient(
      166.93deg,
      rgba(175, 175, 175, 1) 0%,
      rgba(96, 96, 96, 0) 100%
    )
  );
  border-image-slice: 1;
  width: 480px;
  height: 796px;
  position: absolute;
  right: 60px;
  top: calc(50% - 398px);
  box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  backdrop-filter: blur(26.5px);
}
.frame5 {
  display: flex;
  flex-direction: column;
  gap: 101px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 40px;
  top: 97px;
}
.frame4 {
  display: flex;
  flex-direction: column;
  gap: 47px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.upperSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.loginText {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dangNhap {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: relative;
}
.gladYouBack {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.credentials {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.username {
  border-radius: 12px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 14px 16px 14px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.tenDangNhap {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.passwordRem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.password {
  border-radius: 12px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 14px 16px 14px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.matKhau {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.closedEye {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.loginBtFp {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.login2 {
  background: linear-gradient(
    90.57deg,
    rgba(98, 142, 255, 1) 0%,
    rgba(135, 64, 205, 1) 53.125%,
    rgba(88, 4, 117, 1) 100%
  );
  border-radius: 12px;
  padding: 14px 10px 14px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.dangNhap2 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.quenMatKhau {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.quenMatKhau:hover {
  color: #7ba0ff;
}
.otherLogins {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.or {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.line1 {
  margin-top: -2px;
  border-style: solid;
  border-color: #4d4d4d;
  border-width: 2px 0 0 0;
  flex-shrink: 0;
  width: 170px;
  height: 0px;
  position: relative;
}
.or2 {
  color: #4d4d4d;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.line2 {
  margin-top: -2px;
  border-style: solid;
  border-color: #4d4d4d;
  border-width: 2px 0 0 0;
  flex-shrink: 0;
  width: 170px;
  height: 0px;
  position: relative;
}
.frame3 {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.deviconGoogle {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  overflow: visible;
}
.logosFacebook {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  overflow: visible;
}
.biGithub {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  overflow: visible;
}
.frame9 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.chuaCoTaiKhoan {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.customerCare {
  background: linear-gradient(
    180deg,
    rgba(98, 98, 98, 0) 0%,
    rgba(98, 98, 98, 0.07) 100%
  );
  border-radius: 6px;
  padding: 4px 6px 4px 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.frame6 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.termsConditions {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame7 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.support {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame8 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.customerCare2 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.line3 {
  margin-top: -2px;
  border-style: dashed;
  border-color: #4d4d4d;
  border-width: 2px 0 0 0;
  width: 561px;
  height: 0px;
  position: absolute;
  left: 330px;
  top: 550px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

input{
  background-color: transparent; /* Nền trong suốt */
  border: none; /* Xóa viền */
}

input:focus {
  outline: none; /* Đảm bảo không có viền khi input được focus */
  box-shadow: none; /* Xóa bất kỳ hiệu ứng shadow nào khi focus */
}

.dangKy {
  cursor: pointer;
  font-weight: bold;
  color: #7ba0ff;
  text-decoration: none;
}

.dangKy:hover {
  color: #604eff;
}
