.offersContainer {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.offersContainer h1 {
  color: #0d5777;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
  position: relative;
}

.offersContainer h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, #0d5777, #2980b9);
}

.promotionsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 0;
  list-style: none;
}

.promotionItem {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: url("../../assets/images/voucher.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px; /* Thêm chiều cao tối thiểu */
  padding: 30px; /* Thêm padding để nội dung không sát viền */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotionItem:hover {
  transform: translateY(-5px);
}

.promotionItem h3 {
  position: relative;
  color: #0d5777;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 15px;
  padding-bottom: 10px;
  max-width: 60%;
}

.promotionItem p:last-child {
  font-size: 0.9rem;
  color: #888;
  text-align: right;
  font-style: italic;
  text-align: center;
}

