/* UpdateFlightTime.module.css */

.adminContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #f4f7fc;
}

.sidebar {
  width: 250px;
  background-color: #003f82;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
  margin-left: 270px; /* Ensure the content is not overlapped by the sidebar */
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #003f82;
  margin-bottom: 20px;
}

.flightList {
  margin-bottom: 20px;
}

.flightList h2 {
  font-size: 1.5rem;
  color: #003f82;
  margin-bottom: 10px;
}

.flightList ul {
  list-style: none;
  padding: 0;
}

.flightList li {
  background-color: #f9fafc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.flightList li:hover {
  background-color: #e0e7ff;
}

.formContainer {
  background-color: #f9fafc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.formContainer h2 {
  font-size: 1.5rem;
  color: #003f82;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  background-color: #003f82;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #002f6c;
}
